In [1]:
# ==========================================
# Data Science Internship ‚Äì Logic Task 2
# ==========================================


# 1Ô∏è‚É£ UNIQUE WORDS IN A SENTENCE
print("----- 1. Unique Words in a Sentence -----")

sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

----- 1. Unique Words in a Sentence -----
Unique words count: 5
Unique words: {'and', 'powerful', 'easy', 'is', 'python'}

In [2]:

# 2Ô∏è‚É£ HIGHEST SALARY FROM EMPLOYEE DATA
print("\n----- 2. Highest Salary from Employee Data -----")

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)

print(f"Highest Salary: {highest_employee} - {employees[highest_employee]}")

----- 2. Highest Salary from Employee Data -----
Highest Salary: Ravi - 75000

In [3]:
# 3Ô∏è‚É£ FIND MAXIMUM AND MINIMUM VALUES
print("\n----- 3. Find Maximum and Minimum Values -----")

numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

----- 3. Find Maximum and Minimum Values -----
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# 4Ô∏è‚É£ COUNT PRODUCTS ABOVE PRICE THRESHOLD
print("\n----- 4. Count Products Above Price Threshold -----")

prices = [450, 1200, 899, 1500, 300]

count_above_1000 = 0

for price in prices:
    if price > 1000:
        count_above_1000 += 1

print("Products above 1000:", count_above_1000)

----- 4. Count Products Above Price Threshold -----
Products above 1000: 2

In [5]:
# 5Ô∏è‚É£ CALCULATE ATTENDANCE PERCENTAGE
print("\n----- 5. Calculate Attendance Percentage -----")

attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_days / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

----- 5. Calculate Attendance Percentage -----
Attendance Percentage: 80.0

In [6]:
# 6Ô∏è‚É£ REMOVE DUPLICATE PHONE NUMBERS
print("\n----- 6. Remove Duplicate Phone Numbers -----")

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

----- 6. Remove Duplicate Phone Numbers -----
Unique phone numbers: {9876543210, 9123456789}

In [7]:
# 7Ô∏è‚É£ COUNT CHARACTER FREQUENCY
print("\n----- 7. Count Character Frequency -----")

text = "python"
char_frequency = {}

for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print("Character frequency:", char_frequency)

----- 7. Count Character Frequency -----
Character frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# 8Ô∏è‚É£ CONVERT LIST TO TUPLE
print("\n----- 8. Convert List to Tuple -----")

sample_list = [10, 20, 30]

sample_tuple = tuple(sample_list)

print("Tuple:", sample_tuple)

----- 8. Convert List to Tuple -----
Tuple: (10, 20, 30)

In [9]:
# 9Ô∏è‚É£ CHECK IF A KEY EXISTS IN DICTIONARY
print("\n----- 9. Check if Key Exists in Dictionary -----")

employee_data = {"Ravi": 75000, "Anita": 68000}

key_to_check = "Ravi"

if key_to_check in employee_data:
    print("Employee exists")
else:
    print("Employee does not exist")

----- 9. Check if Key Exists in Dictionary -----
Employee exists

In [10]:
# üîü CALCULATE AVERAGE MARKS
print("\n----- 10. Calculate Average Marks -----")

marks = [70, 75, 80, 65]

average_marks = sum(marks) / len(marks)

print("Average Marks:", average_marks)


print("\n‚úÖ All Task 2 problems completed successfully!")

----- 10. Calculate Average Marks -----
Average Marks: 72.5

‚úÖ All Task 2 problems completed successfully!